body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
  
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #1b1a1b;
    padding: 15px;
    margin: 15px 0;
    color:white;
    font-size: 18px;
    border-radius: 6px;
}

form input[type="file"] {
    margin-bottom: 20px;
}

form button[type="submit"] {
    background-color:black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #B336FF;
  border-radius: 6px;
    transition: background  0.5s;
}

form button[type="submit"]:hover {
    background-color: #74339d;
}
.addblog{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    color: #B336FF;
    font-weight: bolder;
}
#createImage{
    border-radius: 5px;
   
}


/*-----------------------------------------responsiveness for smaller screen -----------------*/
@media only screen and (max-width:800px){
    .blog-container{
        margin: 30px;
    }
}