.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
.form_container{
    margin-top: 20px;
    width: 40vw;
    border-radius: 10px;
    height: 80vh;
    padding: 10px;
    background-color:rgb(159, 155, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}
form button{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
.add_div{
    width: 100%;
    padding:  10px 0px 0px 90px;
}
.add_div button{
    padding: 8px;
    background-color: green;
    color: white;
    border-radius: 7px;
}
table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


table button{
    cursor:pointer;
    padding: 5px;
    border-radius: 4px;
}
.edit{
    background-color: blue;
    color: white;
}
.delete{
    background-color: red;
    color: white;
}
.title{
    color: white;
    font-size: 30px;
    padding-right: 20%;
    color: #B336FF ;
}
.blogs{
    color: white;
    padding-top: 30%;
    margin-right: 10%;
}