
*{
color: white;
background: black;
font-size: 20px;
padding: 5px 3%;
}
.nav{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  padding-bottom: 100px;
  
 }

.nav a{
 
  background-color: black;
  color: #B336FF;
  text-decoration: none;
  font-size: 30px;

}
@media only screen and (max-width:800px){
  #messagesDashboard{
    
      font-size: 5px;
  }
  .nav{
   
    font-size: 5px;
    display: block;
  }
}